<canvas id="dataId" data-value="<%=arrayCount%>"></canvas>
<canvas id="catId" data-value="<%=arrayCate%>"></canvas>



  
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Dashboard</h2>
        <p>Whole data about your business here</p>
      </div>
      <div>
        <a href="/admin/sales-report" class="btn btn-primary"
          ><i class="text-muted material-icons md-post_add"></i>SALES REPORT</a
        >
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-lg-3">
        <div class="card card-body mb-4">
          <article class="icontext">
            <span class="icon icon-sm rounded-circle bg-primary-light"
              ><i class="text-primary material-icons md-monetization_on"></i
            ></span>
            <div class="text">
              <h6 class="mb-1 card-title">Revenue</h6>
              <span>$13,456.5</span>
              <span class="text-sm"> Shipping fees are not included </span>
            </div>
          </article>
        </div>
      </div> -->
      <div class="col-lg-3">
        <div class="card card-body mb-4">
          <article class="icontext">
            <span class="icon icon-sm rounded-circle bg-success-light"
              ><i class="text-success material-icons md-local_shipping"></i
            ></span>
            <div class="text">
              <h6 class="mb-1 card-title">Orders</h6>
              <span><%=orderCount%></span>
              <span class="text-sm"> Excluding orders in transit </span>
            </div>
          </article>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card card-body mb-4">
          <article class="icontext">
            <span class="icon icon-sm rounded-circle bg-warning-light"
              ><i class="text-warning material-icons md-qr_code"></i
            ></span>
            <div class="text">
              <h6 class="mb-1 card-title">Products</h6>
              <span><%=documentCount%></span>
              <span class="text-sm"> In <%=catCount%> Categories </span>
            </div>
          </article>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card card-body mb-4">
          <article class="icontext">
            <span class="icon icon-sm rounded-circle bg-info-light"
              ><i class="text-info material-icons md-shopping_basket"></i
            ></span>
            <div class="text">
              <h6 class="mb-1 card-title">Revenue</h6>
              <span><%=totalRevenue%> INR</span>
              <span class="text-sm"> Based in your local time. </span>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8 col-lg-12">
        <div class="card mb-4">
          <article class="card-body">
            <h5  class="card-title">Sale statistics</h5>
            <div id="chart" height="217"></div>
          </article>
        </div>
        
      </div>
      <!-- <div class="col-xl-4 col-lg-12">
        <div class="card mb-4">
          <article class="card-body">
            <h5 class="card-title">Revenue Base on Area</h5>
            <div id="chart2" height="217"></div>

          </article>
        </div>
        
      </div> -->
    </div>
    <!-- <div class="pagination-area mt-30 mb-50">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
          <li class="page-item active"><a class="page-link" href="#">01</a></li>
          <li class="page-item"><a class="page-link" href="#">02</a></li>
          <li class="page-item"><a class="page-link" href="#">03</a></li>
          <li class="page-item">
            <a class="page-link" href="#"
              ><i class="material-icons md-chevron_right"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div> -->
  </section>



  


  <footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
      <div class="col-sm-6">
        <script>
          document.write(new Date().getFullYear());
        </script>
      
      </div>
      
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script>



    const countArray = $('#dataId').data('value')
    const catArray = $('#catId').data('value')

    let data =  countArray.split(',').map(number => parseInt(number))
    let category =  catArray.split(',')

    console.log("data value",data)
    console.log("categories value",category)

    var options = {
          series: data,
          chart: {
          type: 'polarArea',
        },
        stroke: {
          colors: ['#fff']
        },
        fill: {
          opacity: 0.8
        },
        labels:category,
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
      
     
//Graph2


        var options = {
          series: [{
          data: [400, 430, 448, 470, 540, 580, 690,66,876,900,12,13]
        }],
          chart: {
          type: 'bar',
          height: 350
        },
        annotations: {
          xaxis: [{
            x: 500,
            borderColor: '#00E396',
            label: {
              borderColor: '#00E396',
              style: {
                color: '#fff',
                background: '#00E396',
              },
              text: 'X annotation',
            }
          }],
          yaxis: [{
            y: 'July',
            y2: 'September',
            label: {
              text: 'Y annotation'
            }
          }]
        },
        plotOptions: {
          bar: {
            horizontal: true,
          }
        },
        dataLabels: {
          enabled: true
        },
        xaxis: {
          categories: ['january', 'february', 'march', 'april', 'may', 'june', 'july','august','september','october','november','december'],
        },
        grid: {
          xaxis: {
            lines: {
              show: true
            }
          }
        },
        yaxis: {
          reversed: true,
          axisTicks: {
            show: true
          }
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart2"), options);
        chart.render();
      
      
    
    
  </script>




