<style>
	.div1 {
		width: 635px;
		height: 180px;
		border: 1px solid rgb(173, 173, 198);
		box-sizing: border-box;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

	}
</style>
<section>





	<main class="main">

		<div class="page-header breadcrumb-wrap">

			<div class="container">

				<div class="breadcrumb">

					<a href="index.html" rel="nofollow">Home</a>

					<span></span> Shop

					<span></span> Checkout

				</div>

			</div>

		</div>



		<div class="panel-collapse collapse login_form" id="loginform">

			<div class="panel-body">

				<p class="mb-30 font-sm">If you have shopped with us before, please enter your

					details

					below. If you are a new customer, please proceed to the Billing &amp; Shipping

					section.

				</p>

				<form method="">

					<div class="form-group">

						<input type="text" name="email" placeholder="Username Or Email">

					</div>

					<div class="form-group">

						<input type="password" name="password" placeholder="Password">

					</div>

					<div class="login_footer form-group">

						<div class="chek-form">

							<div class="custome-checkbox">

								<input class="form-check-input" type="checkbox" name="checkbox" id="remember" value="">

								<label class="form-check-label" for="remember"><span>Remember

										me</span></label>

							</div>

						</div>

						<a href="#">Forgot password?</a>

					</div>

					<div class="form-group">

						<button class="btn btn-md" name="login">Log in</button>

					</div>

				</form>

			</div>

		</div>



		</div>

		<div class="col-lg-6">

			<div class="toggle_info">

				<span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon"
						data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click

						here to enter your code</a></span>

			</div>
			<div class="panel-collapse collapse coupon_form " id="coupon">

				<div class="panel-body">

					<p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>

					<p class="mx-auto" id="errorCoupon"></p>

					<!-- here  -->
					<select class="form-group" aria-label="Default select example">
						<% coupons.forEach(function(coup) { %>

							<option type="text" placeholder="Enter Coupon Code" id="couponId-<%= coup.code %>"
								name="couponId">
								<%=coup.code%>
							</option>

							<% }) %>
					</select>
					<!-- <select class="form-select" aria-label="Default select example">
					<option selected>Open this select menu</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select> -->
					<div class="form-group">
						<button class="btn btn-md" type="button" id="applyCoupon" name="applyCoupon">Apply
							Coupon</button>
					</div>



					<!-- here -->




				</div>

			</div>

		</div>

		</div>

		<div class="col-md-6">
			<div class="mb-25">
				<h4>Billing Details</h4>
			</div>
			<!-- Button trigger modal -->
			<button style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" type="button" class="btn btn-primary"
				data-toggle="modal" data-target="#exampleModal">
				Add address
			</button>
			<% address.forEach(function(data) { %>
				<div class=" form-check">
					<div class="card"></div>
					<div class="div1 card-body">
						<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
							value="<%= data._id%>" checked>
						<label class="card-title">
							<p class="font-weight-bold">
								<%= data.name%> - <%= data.contactNumber%>
							</p>
							<p class="font-weight-bold">
								<%= data.firstLine%>
							</p>
							<p class="font-weight-bold">
								<%=data.state%> - <%=data.city%> - <%=data.pincode%>
							</p>

						</label>
					</div>

				</div>
		</div>
		<% }) %>
			</div>

			<!-- <div class="row">
			<div class="col-12">
				<div class="divider mt-50 mb-50"></div>
			</div>
		</div> -->
			<form action="/order-place" method="post" id="checkout-form">
				<div class="row">


					<div class="col-md-6" p>

						<div class="order_review">

							<div class="mb-20">

								<h4>Your Orders</h4>

							</div>

							<div class="table-responsive order_table text-center">

								<table class="table">

									<thead>

										<tr>

											<th colspan="2">Product</th>

											<th>Total</th>

										</tr>

									</thead>

									<tbody>


										<!-- loop -->
										<% products.forEach(function(product) { %>
											<tr>

												<td class="image product-thumbnail"><img
														src="/uploads/<%=product.proDetails[0].Image[0]%>" alt="#">
												</td>
												<td>
													<h5><a href="shop-product-full.html">
														</a></h5> <span class="product-qty">
														<%= product.products.quantity %>
													</span>
												</td>
												<td>₹<%=product.subtotal%>
												</td>
											</tr>


											<% }); %>
												<!-- loop end -->
												<tr>
													<th>SubTotal</th>
													<td class="product-subtotal" id="subTotal" colspan="2">₹<%=value%>
													</td>
												</tr>

												<tr>

													<th>Coupon Discount</th>

													<span>
														<td id="discPrice" colspan="2">₹0

														</td>
													</span>

												</tr>

												<tr>

													<th>Shipping</th>

													<td colspan="2"><em>Free Shipping</em></td>

												</tr>

												<tr>

													<th>Total</th>

													<td colspan="2" class="product-subtotal"><span
															class="font-xl text-brand fw-900" id="totalCartPrice">₹
															<%=value%> </span></td>

												</tr>

									</tbody>



								</table>

							</div>

							<div class="bt-1 border-color-1 mt-30 mb-30"></div>



							<div class="payment_method">

								<div class="mb-25">

									<h5>Payment Method</h5>

								</div>

								<div class="payment_option">

									<div class="custome-radio" id="paymentMethod">

										<input class="form-check-input" required="" type="radio" id="cod" value="COD"
											name="paymentMethod" checked="" />

										<label class="form-check-label" name="paymentMethod" for="cod"
											aria-controls="bankTranfer">Cash on Delivery</label>

									</div>

									<div class="custome-radio">

										<input class="form-check-input" required="" type="radio" name="paymentMethod"
											id="razorpay" value="razorpay" checked="" />

										<label class="form-check-label" name="paymentMethod" for="razorpay"
											aria-controls="checkPayment">Razorpay</label>

									</div>








								</div>

							</div>

							<button id="place-order-btn" type="submit" class="btn btn-fill-out btn-block mt-30">Place
								Order</button>

						</div>

					</div>

				</div>

			</form>

			</div>


</section>

</main>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />

<div id="modal" class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<div class="form">
			<form id="verify-otp">

				<div class="userInput">
					<input type="text" name="otp" id='ist' maxlength="6">

				</div>
				<button type="submit" class="btn btn-primary">CONFIRM</button>
		</div>
		</form>

	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">New Address</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="/address" method="post">

				<div class="modal-body">
					<div class="form-group">

						<input type="text" required="" name="name" id="name" placeholder="Name *">

						<p class="d-flex w-75 justify-content-start" style="color: rgb(230, 43, 40);"></p>

					</div>

					<div class="form-group">

						<input type="text" name="firstLine" id="firstLine" required="" placeholder="Address *">

						<p class="d-flex w-75 justify-content-start" style="color: rgb(230, 43, 40);"></p>

					</div>

					<div class="form-group">

						<input type="text" name="secondLine" id="secondLine" required="" placeholder="post*">

						<p class="d-flex w-75 justify-content-start" style="color: rgb(230, 43, 40);"></p>

					</div>

					<div class="form-group">

						<input required="" type="text" name="city" id="city" placeholder="City / Town *">

						<p class="d-flex w-75 justify-content-start" style="color: rgb(230, 43, 40);"></p>

					</div>

					<div class="form-group">

						<input required="" type="text" name="state" id="state" placeholder="State *">

						<p class="d-flex w-75 justify-content-start" style="color: rgb(230, 43, 40);"></p>

					</div>

					<div class="form-group">

						<input required="" type="text" name="pincode" id="pincode" placeholder="Postcode / ZIP *">

						<p class="d-flex w-75 justify-content-start" style="color: rgb(230, 43, 40);"></p>

					</div>

					<div class="form-group">

						<input required="" type="text" name="contactNumber" id="contactNumber" placeholder="Phone *">

						<input name="user" value="<%= user%>" type="hidden" />

						<p class="d-flex w-75 justify-content-start" style="color: rgb(230, 43, 40);"></p>

					</div>

					<div class="form-group">

						<input required="" type="text" name="email" id="email" placeholder="Email address *">

						<p class="d-flex w-75 justify-content-start" style="color: rgb(230, 43, 40);"></p>

					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>

</section>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
	$("#checkout-form").submit((e) => {

		e.preventDefault();
		$.ajax({

			url: '/checkout',

			type: 'post',

			data: $('#checkout-form').serialize(),

			success: (response) => {

				if (response.codstatus) {
					location.href = '/order-success'
				} else {
					rezorparyPayment(response)
				}
			}
		})
	})


	$('#applyCoupon').click(function () {

		// var couponCode = $('#couponId').val();
		var couponCode = $('select').val();

		console.log(couponCode);
		$.ajax({
			url: '/get-coupon', // replace with your backend API URL
			method: 'POST',
			data: { couponCode: couponCode },
			success: function (response) {
				console.log(response)

				swal({
					text: `you got ${response.discountPrice} rupees discount`
				})



				// update the page with the response from the backend

				document.getElementById('discPrice').innerHTML = response.discountPrice
				document.getElementById('totalCartPrice').innerHTML = response.priceAfterDiscount
				document.getElementById('subTotal').innerHTML = response.total



				$('#status').text(response.message);
			},

			error: function (jqXHR, textStatus, errorThrown) {
				console.log('AJAX error:', textStatus, errorThrown);
			}
		});
	});







	function rezorparyPayment(order) {

		var options = {
			"key": "rzp_test_D8YlCeAgArP4IA", // Enter the Key ID generated from the Dashboard
			"amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
			"currency": "INR",
			"name": "Timex", //your business name
			"description": "Test Transaction",
			"image": "https://example.com/your_logo",
			"order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 10
			"handler": function (response) {
				verifyPayment(response, order)
			},
			"callback_url": "https://localhost:4070/order-success",
			"prefill": {
				"name": "Gaurav Kumar", //your customer's name
				"email": "gaurav.kumar@example.com",
				"contact": "9000090000"
			},
			"notes": {
				"address": "Razorpay Corporate Office"
			},
			"theme": {
				"color": "#3399cc"
			},

		};
		var rzp1 = new Razorpay(options);
		rzp1.open();
	}

	function verifyPayment(payment, order) {
		$.ajax({
			url: '/verify-payment',
			data: {
				payment: payment,
				order: order
			},
			method: "post",
			success: (response) => {
				location.href = '/order-success';
				//	console.log(res)
				//if (res) {
				//	console.log("api call");
				//    location.href = '/order-success'
				//} else {
				//    alert("Payment Failed")
				//}
			}
		})
	}

</script>